body {
	background-color: #1D344E;
	color: white;
}

.randomNumberDisplay, .scoreBoardDisplay, .yourScoreDisplay, .description {
	background-color: #52929E;
}

p {
	font-size: 23px;

}

.randomNumberDisplay {
	margin-right: 30px;
	padding: 40px 0px 0px 36px;
	font-size: 40px;
}

.scoreBoardDisplay {
	padding: 20px
}

.yourScoreDisplay {
	padding: 30px;

}

.col-6 {
	font-size: 37px;
}

img {
	width:23%;
}

.container {
	margin-bottom: 3em;
}

#score {
	font-size: 60px;
}
